
<div layout="row" layout-align="space-between center">
  <span></span>
  <div class="capitalize">{{today}}</div>
</div>

<h4>{{(enfants | filter:{status: "depose"}).length}} déposés / {{enfants.length}} enfants</h4>

<md-divider></md-divider>

<div class="column">
<md-input-container>
  <label>Tapez un nom pour filtrer</label>
  <md-icon>search</md-icon>
  <input ng-model="recherche" type="text">
</md-input-container>

<div layout="row" layout-wrap>
  <span ng-repeat='e in enfants | filter:absent | filter:recherche' class="fade">
    <mic-enfant enfant="e"></mic-enfant>
  </span>
</div>
</div>
