body {
  width: 80%;
  margin: 0 auto;
}

.card-media {
  background-color: #999999;
  width: 40px;
}

md-toolbar {
	border-radius: 5px;
}

.fixed2 {
  position: fixed;
  top: 0px;
  left: 0px;
}

.fixed {
	position: relative;

}

.border {
	border: .1em dashed;
}

.md-media-sm {
	width: 100px!important;
	height: 100px!important;
}

.card-media {
	background-color: #ffffff;
}

.menu-panel {
	background-color: #fff;
	opacity: 0.9;
	border-radius: 5px;
}

.fade.ng-leave {
  animation: 0.5s linear all;
  opacity: 0;
}

.fade.ng-leave-active {
  opacity: 1;
}

.fade.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.capitalize {
	text-transform: capitalize;
}

.list-title {
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(221, 221, 221);
}

.list-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(221, 221, 221);
}

.list-item:hover {
  background-color: #f0f0f0!important;
}

.list-item.odd {
  background-color: #f7f7f7;
}